.header-container h1 {
	background: black;
	color: white;
}

.bio h2 {
	background: black;
	color: white;
}

.music h2 {
	background: black;
	color: white;
}

.albom h2 {
	background: black;
	color: white;
}

.links h2 {
	background: black;
	color: white;
}
