@import url(reset.css);
/*	header	*/
.header {
	position: relative;
	height: 200px;
	width: 1440px;
	background: rgba(229, 224, 0, 1);
}

.headerContent {
	position: relative;
	top: 80px;
	left: 80px;
	/*line-height: 200px;*/
	font-family: Helvetica;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
	color: white;
}
/*	main	*/
.img {
	height: 1080px;
	width: 1440px;
	background-image: url(../img/img.jpg); 
}

.links {
	width: 1440px;
	height: 100px;
	background: rgba(229, 224, 0, 1);
}
.links div {
	position: relative;
	top: 36px;
	left: 80px;
	display: inline-block;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	color: white;
}
.links a {
	position: relative;
	top: 36px;
	left: 80px;
	display: inline-block;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.main {
	width: 1440px;
	height: 847px;
	background-color: white;
}

.mainContent {
	position: relative;
	top: 110px;
	left: 80px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;

	color: black;
}
.mainContent h1 {
	font-weight: bold;
}
.mainContent p {
	font-weight: normal;
}
/*	footer	*/
.footer {
	width: 1440px;
	height: 200px;
	background: rgba(229, 224, 0, 1);
}

.footer img {
	position: relative;
	top: 77px;
	left: 80px;
	background: rgba(229, 224, 0, 1);
}

.footer p {
	position: relative;
	top: 20px;
	left: 746px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 50px;
	color: white;
}